<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador de Noticias</title>

</head>
<body>
    <h1>Administrador de Noticias</h1>

    <!-- Formulario para alta, baja, modificación y consulta de noticias -->
    <form id="formularioNoticia">
        <!-- Campo de título -->
        <label for="titulo">Título:</label><br>
        <input type="text" id="titulo" name="titulo" required><br><br>

        <!-- Campo de contenido HTML -->
        <label for="contenido">Contenido:</label><br>
        <textarea id="contenido" name="contenido" required cols="100" rows="20"></textarea><br><br>

        <!-- Campo de imagen -->
        <label for="imagen">Imagen:</label><br>
        <input type="text" id="imagen" name="imagen"><br><br>

        <!-- Botones para enviar, modificar, eliminar y consultar noticias -->
        <button type="submit" onclick="altaNoticia()">Guardar</button>
        <button type="button" onclick="modificarNoticia()">Modificar</button>
        <button type="button" onclick="eliminarNoticia()">Eliminar</button>
        <button type="button" onclick="consultarNoticia()">Consultar</button>
    </form>

    <script src="./controller/noticiasController.js" type="text/html"></script>
</body>
</html>